<div>
  <!-- Syntax to add event listeners to the elements -->
  <!-- Dynamically binding css to the active class -->
  <button (click)="onSelectUser()" [class.active]="selected">
    <!-- This is known as property binding -->
    <img [src]="ImagePath" [alt]="user.name" />
    <!-- This is string interpolation -->
    <span>{{ user.name }}</span>
    <!-- It executes the signal's read function and then gives the value stored in it -->
    <!-- We also have to use paranthesis to read/access signal's value -->
  </button>
</div>
